<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PullResumesUrl" value="http://192.168.1.38:8085/splider/Resume/GetResumeWithNoDeal?rowcount=1" />
    <add key="PostResumesUrl" value="http://192.168.1.38:8085/splider/Resume/ModifyContact" />
    <add key="FilterAuthUrl" value="http://192.168.1.93:15286/api/queryresume/login" />
    <add key="FilterUrl" value="http://192.168.1.93:15286/api/queryresume/query" />
    <add key="Email" value="Longzhijie@txmoushi.cn" />
    <add key="PassWord" value="j06giaHh" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <!--  注意这里，安装程序包时，这里的配置并不会自动添加  -->
      <remove invariant="Npgsql" />
      <add name="Npgsql" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--  与数据库上下文对应的连接字符串 -->
    <add name="ResumeRepairDBEntities" connectionString="Server=localhost;Database=ResumeRepairDB;Uid=postgres;Pwd=a123456;" providerName="Npgsql" />
    <!--<add name="ResumeRepairDBEntities" connectionString="metadata=res://*/EntityFramework.ResumeRepairDB.csdl|res://*/EntityFramework.ResumeRepairDB.ssdl|res://*/EntityFramework.ResumeRepairDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Max;initial catalog=ResumeRepairDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>